= form_for @message do |f|
  = f.text_field :text
  = f.submit "Create new message", class: "btn btn-primary"
- unless @messages.nil?
  %table.table
    %tr.th
      %td Message
      %td Status
    - @messages.each do |message|
      %tr
        %td= message.text
        %td= message.sent ? "Sent to EC2" : "Pending"

